/* GalleryPage.css */
.gallery-page {
  text-align: center;
  padding: 20px;
  margin-top: 80px; /* 增加边距以避免与Header重叠 */
}

.gallery-h1 {
  font-family: 'Lucida Handwriting';
  font-size: 3rem;
  margin-bottom: 20px;
}

.product-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.product-filters label {
  font-size: 1.2rem;
}

.product-filters input, .product-filters select {
  padding: 5px;
  font-size: 1rem;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* 透明背景 */
  padding: 20px;
  border-radius: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 每行3个商品 */
  gap: 10px; /* 修改这里的值来减少距离 */
  width: 100%;
  justify-items: center; /* 确保项目在网格单元中居中 */
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 300px; /* 固定高度 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px; /* 修改这里的值来减少卡片之间的间距 */
  width: 90%; /* 确保卡片宽度 */
  max-width: 300px; /* 确保最大宽度 */
}

.product-card img {
  width: 100%; /* 确保图片宽度100% */
  height: 200px; /* 固定图片高度 */
  object-fit: cover; /* 保持图片比例，裁剪多余部分 */
  border-radius: 10px;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-card p {
  font-size: 1.2rem;
  margin: 5px 0;
}

.sold-out {
  color: red;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .gallery-h1 {
    font-size: 2rem; /* 调整手机上的字体大小 */
  }

  .product-filters {
    flex-direction: column;
    gap: 10px; /* 调整手机上的间距 */
  }

  .product-filters label {
    font-size: 1rem; /* 调整手机上的字体大小 */
  }

  .product-filters input, .product-filters select {
    width: 45%; /* 调整手机上的宽度 */
  }

  .product-container {
    justify-content: center; /* 确保容器在手机上居中 */
    align-items: center;
    width: 100%; /* 调整手机上的宽度 */
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr); /* 每行1个商品 */
    gap: 5px; /* 调整手机上的间距 */
  }

  .product-card {
    height: auto; /* 移动设备上自动高度 */
    width: 100%; /* 调整手机上的宽度 */
  }

  .product-card img {
    max-height: 140px; /* 调整手机上的图片高度 */
  }

  .product-card h2 {
    font-size: 1.2rem; /* 调整手机上的字体大小 */
  }

  .product-card p {
    font-size: 1rem; /* 调整手机上的字体大小 */
  }

  .pagination {
    flex-direction: column; /* 手机上分页按钮垂直排列 */
    gap: 5px; /* 调整手机上的间距 */
  }

  .pagination button {
    width: 10%; /* 调整手机上的按钮宽度 */
  }
}
